html, body {
	background: lightblue;
	height: 95%;
	margin: 0px;
}

h1, h2 {
	text-align: center;
}

.nocanvas {
	color: red;
}

div {
	text-align:center; 
}

#info {
	margin-bottom: 10px;
}

#footer {
	margin-top: 10px;
}

#start-menu, #double-menu {
	position:relative;
	background: white;
	height:470px;
	width:320px;
	margin: 0px auto;
	text-align: center;
}

#start-menu .menu {
	position:absolute; 
	top:18%; 
	height:10em; 
	margin-top:-5em;
	text-align: center;
	margin: 0px auto;
	left: 36%;
}

#double-menu .menu {
	position:absolute; 
	top:25%; 
	height:10em; 
	margin-top:-5em;
	text-align: center;
	margin: 0px auto;
	left: 28%;
}

.menu input {
	margin-top: 50px;
	height: 40px;
	width: 100px;
}


ul.double_canvas_list li {
	display: inline;
}