.menu-panel {
  text-align: center;
}
.menu-panel img {
  margin: 50px 0;
}
.menu-panel li a {
  width: 20%;
  max-width: 40%;
}
.menu-panel .list-group-item {
  border-top: none;
}
.menu-panel .list-group-item:first-child {
  border-top: 1px solid #ddd;
  border-bottom: none;
  padding-top: 40px;
}
.menu-panel .list-group-item:last-child {
  border-top: none;
  border-bottom: 1px solid #ddd;
  padding-bottom: 40px;
}

.canvas-panel .main-area {
  text-align: center;
}
.canvas-panel canvas {
  margin-right: -5%;
}
.one-canvas-panel .buttons-area {
  margin-top: 15%;
}
.one-canvas-panel .buttons-area button {
  min-width: 80%;
  margin-bottom: 10%;
}
.two-canvas-panel .buttons-area {
  margin-top: 2%;
}
.two-canvas-panel .buttons-area button {
  min-width: 80%;
  margin-bottom: 10%;
}
.panel-heading {
  text-align: center;
}
.tip {
  text-align: center;
}
